/* Owen Freeman */

body {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(78, 76, 76);
    display: flex;
    flex-direction: column;
    /*Ensure footer stays at bottom */
    min-height: 100vh;
}

main {
    text-align: center;
    flex: 1;
    padding-bottom: 50px;
}

header {
    text-align: center;
    padding-bottom: 100px;
}

footer {
    text-align: center;
    background-color: rgb(160, 155, 155);
    padding: 0;
}


#canvas1 {
    background-color: white;
    /* Used display: block to remove problems of inline element */
    display: block;
    margin: 0;
    padding: 0;
    /* This is the actual width of the canvas on the page, although the actual 
    images will still be based off the 1000px canvas width */
    width: 80vw;
    height: calc(var(--div-width)/5);
}

/* Used inline-block so same size as canvas */
#canvas-container {
    display: inline-block;
    border: 10px solid gray;
}

.button {
    color: white;
    text-decoration: none;
    padding: 12px 26px;
    text-align: center;
    border: none;
    border-radius: 3px;
    display: inline-block;
  }

/* Creates slight shadow around buttons when hovered */
.button:hover {
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.25), 0 15px 45px 0 rgba(0,0,0,0.12);
}
#button1 {
    background-color: rgb(35, 168, 35);
}
#button2 {
    background-color: red;
}
#buttons {
    padding-top: 100px;
    padding-bottom: 100px;
}

ul {
    list-style-position: inside;
    padding-left: 0;
}
